# Server
PORT=8000
NODE_ENV=development

# Database
MONGO_URI="mongodb://localhost:27017/demoCheckDatabase"

# Session
SESSION_SECRET="yourSuperSecretSessionKeyHere"
SESSION_EXPIRES_IN="1d"

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback

# Frontend
FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_GOOGLE_CALLBACK_URL=http://localhost:3000/google/callback
